@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<h2>HTML5</h2>
<figure>
    <img src="~/Content/images/DSCN2671.JPG" alt="Cute Shibi" style='width:100%;' />
    <figcaption>
        <p id="picCaption">He is very <mark>naughty...</mark></p>
    </figcaption>
</figure>

<h2>To Do List</h2>
<ul contenteditable="true">
    <li>Web Api</li>
    <li>Responsive Design</li>
</ul>

<input type="email" id="emailInput" placeholder="testabc@gmail.com" required autofocus />
<input type="text" placeholder="First Name" pattern="[A-Za-z]{3,25}" />
<input type="range" min="0" max="10" step="1" value="" />
<audio controls="controls">
    <source src="~/Content/01 SAI MANTRA.mp3" />
</audio>

<video controls preload style="width:100%">
    <source src="~/Content/Hickory Dickory Dock - YouTube.mp4" style="width:100%" />
</video>