<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OpenXposure.WcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/OpenXposure/WcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="OpenXposure.WcfService"
                contract="IDataService" name="OpenXposure.WcfService" />
        </client>
    </system.serviceModel>
</configuration>